


@font-face {
    font-family: 'nerislight';
    src: url('../fonts/neris-light-webfont.eot');
    src: url('../fonts/neris-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris-light-webfont.woff2') format('woff2'),
         url('../fonts/neris-light-webfont.woff') format('woff'),
         url('../fonts/neris-light-webfont.ttf') format('truetype'),
         url('../fonts/neris-light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nerislight_italic';
    src: url('../fonts/neris-lightitalic-webfont.eot');
    src: url('../fonts/neris-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/neris-lightitalic-webfont.woff') format('woff'),
         url('../fonts/neris-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/neris-lightitalic-webfont.svg#nerislight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nerissemibold_italic';
    src: url('../fonts/neris-semibolditalic-webfont.eot');
    src: url('../fonts/neris-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/neris-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/neris-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/neris-semibolditalic-webfont.svg#nerissemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'neristhin';
    src: url('../fonts/neris-thin-webfont.eot');
    src: url('../fonts/neris-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris-thin-webfont.woff2') format('woff2'),
         url('../fonts/neris-thin-webfont.woff') format('woff'),
         url('../fonts/neris-thin-webfont.ttf') format('truetype'),
         url('../fonts/neris-thin-webfont.svg#neristhin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'neristhin_italic';
    src: url('../fonts/neris-thinitalic-webfont.eot');
    src: url('../fonts/neris-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/neris-thinitalic-webfont.woff') format('woff'),
         url('../fonts/neris-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/neris-thinitalic-webfont.svg#neristhin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}